body, html {
    width: 98%;
    height: 98%;
  }
#fotogran{
    border: 1px solid black;
    margin: 10%;
    padding: 10%;
}
#listado{
    border: 1px solid black;
    margin: 1px;
    padding: 2px;
}
img{
    box-sizing: border-box;
    border: 1px solid red;
    height: 20%;
    width: 24%;
}
